*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.title_area{
	background-color: #dddd;
}

#main_area{
	padding:80px 0;
	.box{
		padding: 45px;
		transition:all 0.5s;
		background-color: #F35304;
		color:#fff;
	}
	.operational_area {
	    background: #dddddd63;
	}
	.operational_box{
		padding: 45px;
		transition:all 0.5s;
	}
	.color_picker {
	    margin-top: 15px;
	}
	.op_area{
		padding: 15px 0;
		input{
			padding: 6px 10px;
			width: 100%;
			text-align: center;
		}
	}
}